PR build results:

screenshots
{{ " • ".join(links_for("screenshot")) }}
    
exceptions ({{ results["exceptions"]["raw_output"].count("EXCEPTION") }})
{{ " • ".join(links_for("thrown-exception")) }}    

webpagetest results
{{ " • ".join(links_for("performanceComparisonSummary")) }}
    
-automated message
