PR build results:

results:
{% for name, result in results.items() -%}
{{name}} {{result}}
{% endfor %}
    
screenshots
{% for artifact in artifacts -%}
{% if "screenshot" in artifact -%}
{{poke(artifact)}}
{% endif -%}
{%endfor%}

others
{% for artifact in artifacts -%}
{% if "screenshot" not in artifact -%}
{{poke(artifact)}}
{% endif -%}
{%endfor%}
    
-automated message
